DB_HOST=localhost
DB_PORT=5432
DB_NAME=dietApp
DB_USER=postgres
DB_PASSWORD=bhargav11.
JWT_SECRET_KEY=abhjksdvbbnjbsdvhjkbnjhkbvsdbjkhbjkdvsbnjbndsvbnkjvsdbjkhsdvbnjknbdvsknbjkvnsd
ACCESS_TOKEN_EXPIRY=86400000
REFRESH_TOKEN_EXPIRY=604800000
